@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Brand Colors in RGB */
        --color-primary: 148 112 84;     /* #947054 */
        --color-surface: 245 247 249;   /* #f5f7f9 */
        
        /* Typography & UI */
        --color-heading: 50 50 50;      /* #323232 */
        --color-body: 125 125 125;      /* #7d7d7d */
        --color-divider: 225 221 221;   /* #e1dddd */
    }
}

/* Custom Utilities */
.transition-short {
    @apply transition-all duration-300 ease-in-out;
}
